.form {
  display: flex;
  flex-direction: column;
}
.level-container {
  display: flex;
  justify-content: space-between;
}

.level-container input, 
.level-container label {
  cursor: pointer;
}

.ctrl-content {
  margin-bottom: 2rem;
}

.btn {
  align-self: flex-end;
  margin: 2rem 1rem 0rem 0rem;
  padding: 5px 15px;
  cursor: pointer;
}